<div class="box" ng-controller="AdminEditAdController" flow-init="{singleFile:true}" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
	<h1 class="text-center">Edit ad</h1>
	<form ng-submit="editAd(adData)" name="edit">
		<div class="row">
			<div class="col-md-7 margin-bottom">
				<div class="alert alert-info">To change an image, select your image and check the <strong>Change image</strong> option.<br />To delete the current image dont pick a new one and check the <strong>Change image</strong> option.</div>
				<div class="row">
					<div class="col-md-2">
						<label for="title"><span class="text-danger">*</span> Title:</label>
					</div>
					<div class="col-md-10">
						<input type="text" id="title" class="form-control" name="title" ng-model="adData.title" value="adData.title" required="" placeholder="Ad title" ng-class="{'has-error' : edit.$submitted && edit.title.$error.required}" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label for="text"><span class="text-danger">*</span> Text:</label>
					</div>
					<div class="col-md-10">
						<textarea id="text" class="form-control" name="text" ng-model="adData.text" required="" placeholder="Ad text" ng-class="{'has-error' : edit.$submitted && edit.text.$error.required}"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label for="image">Image:</label>
					</div>
					<div class="col-md-10">
						<div class="input-group">
							<input type="file" flow-btn id="image" ng-model="adData.newImage" class="form-control" placeholder="Ad image" />
							<div class="input-group-addon" ng-class="{'red-bg' : adData.newImage && !adData.changeImage}">
								<input type="checkbox" id="changeImage" ng-model="adData.changeImage" />
								<label for="changeImage" ng-class="{'text-danger' : adData.newImage && !adData.changeImage}">Change image</label>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label for="category">Category</label>
					</div>
					<div class="col-md-10">
						<select id="category" class="form-control" ng-model="adData.categoryId">
							<option ng-repeat="c in categories" value="{{c.id}}" ng-select="c.id == adData.categoryId">{{c.name}}</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label for="town">Town</label>
					</div>
					<div class="col-md-10">
						<select id="town" class="form-control" ng-model="adData.townId">
							<option ng-repeat="t in towns" value="{{t.id}}" ng-select="t.id == adData.townId">{{t.name}}</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label for="ownerUsername"><span class="text-danger">*</span> Owner user:</label>
					</div>
					<div class="col-md-10">
						<input type="text" id="ownerUsername" class="form-control" name="title" ng-model="adData.ownerUsername" value="adData.ownerUsername" required="" placeholder="Owner username" ng-class="{'has-error' : edit.$submitted && edit.ownerUsername.$error.required}" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label for="status">Status</label>
					</div>
					<div class="col-md-10">
						<select id="status" class="form-control" ng-model="adData.status">
							<option ng-repeat="s in appData.adStatuses" value="{{s}}" ng-select="s == adData.status">{{s}}</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label for="date">Date</label>
					</div>
					<div class="col-md-10">
						<input type="text" pick-a-date="date" placeholder="Pick a date" ng-model="adData.date" data-value="{{adData.dateFormated}}" pick-a-date-options="dateOptions" />
						<!-- <input type="date" id="date" ng-model="adData.date" /> -->
					</div>
				</div>
				<div class="text-center">
					<button class="btn btn-success btn-lg">Edit ad</button>
				</div>
			</div>
			<div class="col-md-5">
				<div class="thumbnail">
					<img ng-show="!$flow.files.length" ng-src="{{adData.imageDataUrl ? adData.imageDataUrl : appData.defaultImage}}" alt="{{adData.title}}" />
					<img ng-show="$flow.files.length" ng-model="adData.imageDataUrl" flow-img="$flow.files[0]" alt="{{adData.title}}" />
				</div>
			</div>
		</div>
	</form>
</div>