<div class="box margin-bottom">
	<h1 class="text-center">Register</h1>
	<div class="row">
		<div class="col-md-2">
			<label for="username"><span class="pull-right"><span class="text-danger">*</span> Username:</span></label>
		</div>
		<div class="col-md-10">
			<input type="text" class="form-control" id="username" ng-model="userData.username" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<label for="name"><span class="pull-right"><span class="text-danger">*</span> Name:</span></label>
		</div>
		<div class="col-md-10">
			<input type="text" class="form-control" id="name" ng-model="userData.name" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<label for="pass"><span class="pull-right"><span class="text-danger">*</span> Password:</span></label>
		</div>
		<div class="col-md-10">
			<input type="password" class="form-control" id="pass" ng-model="userData.password" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<label for="confirmpass"><span class="pull-right"><span class="text-danger">*</span> Confirm password:</span></label>
		</div>
		<div class="col-md-10">
			<input type="password" class="form-control" id="confirmpass" ng-model="userData.confirmPassword" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<label for="email"><span class="pull-right"><span class="text-danger">*</span> Email:</span></label>
		</div>
		<div class="col-md-10">
			<input type="email" class="form-control" id="email" ng-model="userData.email" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<label for="phone"><span class="pull-right"><span class="text-danger">*</span> Phone:</span></label>
		</div>
		<div class="col-md-10">
			<input type="tel" class="form-control" id="phone" ng-model="userData.phone" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<label for="town"><span class="pull-right">Town:</span></label>
		</div>
		<div class="col-md-10">
			<select id="town" class="form-control" ng-model="userData.townId">
				<option value="">--- Select town ---</option>
				<option ng-repeat="t in towns" value="{{t.id}}">{{t.name}}</option>
			</select>
		</div>
	</div>
	<div class="text-center">
		<button class="btn btn-success btn-lg" ng-click="register(userData)">Register</button>
	</div>
</div>
