<div class="box margin-bottom">
	<h1 class="text-center">Register</h1>
		<form name="registration" ng-submit="register(userData);">
		<div class="row">
			<div class="col-md-2">
				<label for="username"><span class="pull-right"><span class="text-danger">*</span> Username:</span></label>
			</div>
			<div class="col-md-10">
				<input type="text" class="form-control" name="username" id="username" ng-model="userData.username" required="" ng-class="{'has-error' : (registration.$submitted || registration.username.$touched) && registration.username.$error.required}" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<label for="name"><span class="pull-right"><span class="text-danger">*</span> Name:</span></label>
			</div>
			<div class="col-md-10">
				<input type="text" class="form-control" id="name" name="name" ng-model="userData.name" required="" ng-class="{'has-error' : (registration.$submitted || registration.name.$touched) && registration.name.$error.required}" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<label for="password"><span class="pull-right"><span class="text-danger">*</span> Password:</span></label>
			</div>
			<div class="col-md-10">
				<input type="password" class="form-control" name="password" id="password" ng-model="userData.password" required="" ng-class="{'has-error' : (registration.$submitted || registration.password.$touched) && registration.password.$error.required}" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<label for="passwordConfirm"><span class="pull-right"><span class="text-danger">*</span> Confirm password:</span></label>
			</div>
			<div class="col-md-10">
				<input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm" ng-model="userData.confirmPassword" required="" ng-class="{'has-error' : (registration.$submitted || registration.passwordConfirm.$touched) && registration.passwordConfirm.$error.required}" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<label for="email"><span class="pull-right"><span class="text-danger">*</span> Email:</span></label>
			</div>
			<div class="col-md-10">
				<input type="email" class="form-control" id="email" name="email" ng-model="userData.email" required="" ng-class="{'has-error' : (registration.$submitted || registration.email.$touched) && (registration.email.$error.required || registration.email.$error.email)}" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<label for="phone"><span class="pull-right"><span class="text-danger">*</span> Phone:</span></label>
			</div>
			<div class="col-md-10">
				<input type="tel" class="form-control" id="phone" name="phone" ng-model="userData.phone" required="" ng-class="{'has-error' : (registration.$submitted || registration.phone.$touched) && (registration.phone.$error.required || registration.phone.$error.phone)}" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<label for="town"><span class="pull-right">Town:</span></label>
			</div>
			<div class="col-md-10">
				<select id="town" class="form-control" ng-model="userData.townId">
					<option value="">--- Select town ---</option>
					<option ng-repeat="t in towns" value="{{t.id}}">{{t.name}}</option>
				</select>
			</div>
		</div>
		<div class="text-center">
			<button class="btn btn-success btn-lg" type="submit">Register</button>
			or
			<a href="#/login" class="btn btn-default btn-lg">Login</a>
		</div>
	</form>
</div>
